{{> header}}
    <div class="container mt-5">
        <div class="card p-3">
            <div class="card-body text-center">
                <h3>Сервіс отримання даних про погоду</h3>
                <a href="/weather" class="btn btn-primary btn-lg mt-4" role="button">Сторінка погоди</a>
            </div>
        </div>
    </div>
{{> footer}}